.container{
    display:flex;
    flex-direction:column;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
}
.header h3{
    font-size: 24px;
    color: #F9faf8;
}
.header .links{
    align-self: center;
    
}
.header a{
   margin: 12px; 
    font-size: 18px;
    color: #e5e7eb;
}