*{
    margin: 0;
    padding: 0;
}
.body{
    padding: 0 ;
    margin:0;
}

.container{
    display:flex;
    flex-direction:column;
    width: 100%
    margin 0;
    padding: 0;
}
button{
    border-radius: 8px;
    border: none;
}
.header{
   padding: 0px 48px;  
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    display:flex;
    /* width: 100%; */
    flex: 1 1 auto;
    width: 100% ;
}
.header h3{
    font-size: 24px;
    color: #F9faf8;
    padding: 10px;
}
.header .links a{
    align-self: center;
   text-decoration: none; 
   
}
.header a{
   margin: 12px; 
    font-size: 18px;
    color: #e5e7eb;
}

.section-1{

   padding: 40px 48px;  
   display: flex; 
    background-color: #1f2937;
}

.section-1 img{
    margin-left: 24px;
}

.hero-text h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9faf8;
    margin-right: 24px;
}

.hero-text p{

    font-size: 18px;
    color: #e5e7eb;
}
.hero-text button{
    background-color: #3882f6;
    color: #e5e7eb;
}
/* some random information section */
.section-2{
    display: flex;
   flex-wrap: wrap; 
   justify-content: center;
   padding: 20px;
   margin: 20px 0;
}
.section-2 img{
    border-radius: 12px;
}
.section-2 h3{
}
.section-2 .images-and-text{
    display: flex;
}

.section-3{
display: flex;
flex-wrap: wrap;
   padding: 48px 48px;  
    background-color: #e5e7eb;
    font-size: 36px;
font-style: italic;
flex-direction: column;
}
.section-3 div{
    align-self: flex-end;
}
.section-3 p{
    font-size: 24px;
    font-weight: 899;
}
.section-4{
}
.background-color{

    border-radius: 12px;
    margin: 108px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    background-color: #3882f6 ;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-4 button{
    align-self: center;
}

.footer{

   padding: 30px 48px;  
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
   color: #e5e7eb;
}
.call-to-action h4{


    font-size: 24px;
    color: #F9faf8;
}

.call-to-action p{

    font-size: 18px;
    color: #e5e7eb;
    
}
.call-to-action button{
    background-color: #3882f6;
}